.a-mail-input {
  width: 204px;
  height: 19px;
  min-width: 204px;
  max-width: 204px;
  border: 0;
  outline: none;
  background: transparent;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--type-button-xl);
  line-height: var(--type-button-xl-lh);
  display: flex;
  align-items: center;
  color: var(--color-black);
}

.a-mail-input::placeholder {
  color: var(--color-dark-grey);
}

.a-mail-input[data-state='default'] {
  color: var(--color-dark-grey);
}

.a-mail-input[data-state='input'] {
  color: var(--color-black);
}

.a-mail-input[data-state='error'] {
  color: var(--color-black);
}

.a-mail-input[data-state='success'] {
  color: var(--color-coloring-dark-grey);
}
