
.a-image-journal-link {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  aspect-ratio: 440 / 458;
  overflow: hidden;
  text-decoration: none;
  flex-shrink: 0;
  contain: layout style paint;
}

.a-image-journal-link--l .q-image-journal {
  height: 100%;
}

.a-image-journal-link--m .q-image-journal {
  height: 94%;
}

.a-image-journal-link--s .q-image-journal {
  height: 86%;
}

.a-image-journal-link .a-arrow-button {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.a-image-journal-link:hover .a-arrow-button {
  --a-arrow-bg: var(--color-medium-grey);
}

.a-image-journal-link:active .a-arrow-button,
.a-image-journal-link.is-pressed .a-arrow-button {
  --a-arrow-bg: var(--color-black);
  --a-arrow-icon-current: var(--a-arrow-icon-active);
}
