.m-journal-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  contain: layout style;
}

.m-journal-card.reveal-ready {
  opacity: 1;
  transform: none;
  transition: none;
}

.m-journal-card__content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.m-journal-card__header {
  display: flex;
  flex-direction: column;

  gap: 0;
}

.m-journal-card__author,
.m-journal-card__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: var(--type-body-xl);
  line-height: var(--type-body-xl-lh);
  color: var(--color-black);
}

.m-journal-card__description {
  margin: 0;
  margin-top: 12px;
  font-weight: 400;
  font-size: var(--type-body-s);
  line-height: var(--type-body-s-lh);
  color: var(--color-black);
}

.m-journal-card__meta {
  display: block;
  margin-top: 12px;
  font-size: var(--type-body-s);
  line-height: var(--type-body-s-lh);
  word-spacing: 6px;
  color: var(--color-dark-grey);
}
